In [34]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')
db

In [25]:
db = sqlite3.connect('School.sqlite')
db

In [8]:
from IPython.display import FileLink
FileLink('School.sqlite')

E:\Anaconda\Sqlite\School.sqlite

In [26]:
cur = db.cursor()
cur

In [5]:
sql_query = 'Create table Student(RollNumber int Primary key, Name text, Age int)'
cur.execute(sql_query)

In [7]:
cur.execute('Insert into Student values (101, "Aman", 20)')

In [14]:
db.commit()

In [13]:
cur.execute('Insert into Student values (102, "Amit", 21)')

In [16]:
db.close()

In [3]:
db = sqlite3.connect('Employee.sqlite')
db

In [4]:
cur = db.cursor()
db

In [5]:
sql_query = 'Create table Employee_detail(employee_id int Primary key, Name text, Age int, department text, salary int)'
cur.execute(sql_query)

In [7]:
cur.execute('insert into employee_detail values (100, "rishav", 25, "marketing", 50000)')

In [21]:
cur.execute('insert into employee_detail values (101, "abhishek", 26, "operations", 60000)')

In [22]:
cur.execute('insert into employee_detail values (102, "aman", 24, "human resource", 75000)')

In [25]:
db.commit()

In [6]:
from IPython.display import FileLink
FileLink('Employee.sqlite')

E:\Anaconda\Sqlite\Employee.sqlite

In [5]:
cur.execute('Insert into Student values (103, "Mohit", 24)')

In [6]:
rollNumber = 104
Name = "Nikhil"
age = 34

cur.execute ('Insert into Student values (?, ?, ?)', (rollNumber, Name, age))

In [9]:
values = [(105,"nidhi", 20), (106, "MAnisha", 21), (107, "Ankush", 22)]
cur.executemany('Insert into student values (?, ?, ?)', values)

In [12]:
from IPython.display import FileLink

FileLink('School.sqlite')

E:\Anaconda\Sqlite\School.sqlite

In [16]:
cur.execute ('Delete from Employee_Detail where employee_id = 101')

In [31]:
id = 102
cur.execute ('Delete from Employee_Detail where employee_id = ? ', (id,))

In [43]:
cur.execute('drop table Employee_detail')

OperationalError: database is locked

In [8]:
cur.execute('insert into employee_detail values (101, "aadarsh", 25, "marketing", 50000)')

In [9]:
cur.execute('insert into employee_detail values (102, "aarti", 27, "operations", 60000)')

In [10]:
cur.execute('insert into employee_detail values (103, "siddharth", 25, "finance", 85000)')

In [14]:
cur.execute('insert into employee_detail values (104, "aman", 24, "human resource", 75000)')

In [15]:
cur.execute('insert into employee_detail values (105, "amit", 30, "marketing", 50000)')

In [13]:
cur.execute('delete from employee_detail where age = 24')

In [16]:
cur.execute('insert into employee_detail values (106, "shivansh", 26, "IT", 90000)')

In [17]:
cur.execute('insert into employee_detail values (107, "vaibhav", 23, "finance", 85000)')

In [18]:
cur.execute('insert into employee_detail values (108, "himanshu", 26, "IT", 90000)')

In [19]:
cur.execute('insert into employee_detail values (109, "raman", 25, "operations", 60000)')

In [20]:
cur.execute('insert into employee_detail values (110, "kunal", 26, "marketing", 50000)')

In [21]:
cur.execute('insert into employee_detail values (111, "adhira", 29, "human resource", 75000)')

In [22]:
cur.execute('insert into employee_detail values (112, "tanya", 24, "marketing", 50000)')

In [23]:
db.commit()

In [24]:
from IPython.display import FileLink
FileLink('Employee.sqlite')

E:\Anaconda\Sqlite\Employee.sqlite

In [27]:
cur.execute('select * from student')

In [28]:
for row in cur:
    print (row)

(101, 'Aman', 20)
(102, 'Amit', 21)
(103, 'Mohit', 24)
(104, 'Nikhil', 34)
(105, 'nidhi', 20)
(106, 'MAnisha', 21)
(107, 'Ankush', 22)

In [36]:
db = sqlite3.connect('Employee.sqlite')
db

In [37]:
cur = db.cursor()
cur

In [38]:
cur.execute('select employee_id from employee_detail where department = "finance" ')
cur.fetchall()

[(103,), (107,)]

In [42]:
cur.execute('select count(distinct department) from employee_detail  ')
cur.fetchall()

[(5,)]